body{
display:flex;
}

.sidebar{
position:fixed;
left:-260px;
top:70px;
width:260px;
height:100vh;
background:#06101d;
padding:30px;
transition:.4s;
z-index:1000;
}

.sidebar.ativo{
left:0;
}

.logo{
margin-bottom:50px;
}

.logo h1{
font-size:28px;
}

.sidebar a{
display:block;
padding:18px;
margin-bottom:15px;
background:#15283f;
border-radius:12px;
transition:.3s;
color:white;
text-decoration:none;
}

.sidebar a:hover{
background:#2563eb;
transform:translateX(5px);
}

.menu-btn{
position:fixed;
top:20px;
left:20px;
width:60px;
height:60px;
background:#2563eb;
border-radius:15px;
display:flex;
justify-content:center;
align-items:center;
font-size:35px;
cursor:pointer;
z-index:2000;
}

.conteudo{
width:100%;
padding:100px 40px 40px 40px;
}

.cards{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:30px;
}

.painel{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
margin-bottom:30px;
}

.formulario button{
width:100%;
background:#2563eb;
color:white;
}

.vagas{
display:grid;
grid-template-columns:repeat(5,1fr);
gap:15px;
margin-top:20px;
}

.vaga{
height:90px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
border-radius:15px;
font-weight:bold;
}

.livre{
background:#16a34a;
}

.ocupada{
background:#dc2626;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:15px;
text-align:center;
}

thead{
background:#15283f;
}

.saida{
background:#dc2626;
color:white;
padding:10px 20px;
border-radius:10px;
}