*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

:root{
--azul:#2563eb;
--verde:#16a34a;
--vermelho:#dc2626;
--escuro:#081120;
}

body{
background:linear-gradient(
135deg,
#081120,
#102447,
#081120
);
background-size:400% 400%;
animation:fundo 15s ease infinite;
color:white;
min-height:100vh;
overflow-x:hidden;
}

@keyframes fundo{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

a{
text-decoration:none;
color:white;
}

.card{
background:rgba(255,255,255,.08);
backdrop-filter:blur(20px);
border:1px solid rgba(255,255,255,.1);
border-radius:20px;
padding:25px;
box-shadow:0 10px 30px rgba(0,0,0,.4);
}

input,select{
width:100%;
padding:15px;
border:none;
border-radius:12px;
margin-bottom:15px;
background:#f1f5f9;
}

button{
border:none;
padding:15px;
border-radius:12px;
cursor:pointer;
transition:.3s;
font-weight:bold;
}

button:hover{
transform:translateY(-3px);
}